body {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 0;
  padding: 0;
  background-color: gray;
}


h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding: 0;
  margin: 0;
}

.round {
  border-radius: 20px;
}

.snapshot {
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 5%;
}

.grid-container {
  display: grid;
  background-color: #fff;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  padding: 20px 20px 10px 20px;
}

.grid-container div {
  margin: 0;
  padding: 0;
}

.item1 {
  grid-area: 1 / 1 / 6 / 2;
  max-width: 544px;
}

.item2 {
  grid-area: 1 / 2 / 6 / 3;
  align-self: start;
  min-width: 400px;

}

/*second block*/
.spec {
  display: flex;
  margin: 0;
  padding: 0;
}

.spec img {
  padding: 0 20px 0 20px;
}
