* {
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  line-height: normal;
  font-weight: 500;
}

body {
  font-style: normal;
  font-weight: 500;
  font-size: 1.25em;
  line-height: 28px;
  color: #344563;
  background-color: #e5e5e5;
  padding: 0;
  margin: 0;
}

/* popup style */

.close {
  align-self: flex-end;
  padding: 5px;
}

.popup {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  left: 0;
  top: 0;
}

.popupContent {
  display: flex;
  align-self: center;
  z-index: 3;
  min-height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  padding: 10px 10px 30px 10px;
  margin: auto 10vw;
  border-radius: 10px;
}

.lngPopup {
  display: flex;
  margin-top: 15px;
  align-items: flex-start;
  margin-left: 0;
  padding-left: 0;
}

.crop {
  width: 100%;
  aspect-ratio: 2 / 1;
  object-fit: cover;
}

.popupParagraph {
  max-width: 60%;
  float: left;
}

.desktopRight {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 0;
}

.fontSmall {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.fontMid {
  font-weight: 500;
  font-size: 15px;
  line-height: 0;
}

.buttonBar {
  display: flex;
  border-top: solid lightgray 2px;
  gap: 2%;
}

.buttonBar button {
  display: flex;
  margin-top: 8px;
}

.popupImg {
  padding-left: 5px;
  width: 1em;
  align-self: center;
  margin: 0;
}

/* End of popup style */
label {
  color: #fff;
  padding-bottom: 10px;
}

::placeholder {
  opacity: 0.5;
}

.mobmenu {
  display: none;
}

.name {
  font-weight: 700;
  font-size: 2.6em;
  line-height: 60px;
  color: #091e42;
}

.name:hover {
  transition: transform 1s;
  transform: scale(1.5);
}

.logo {
  flex: 1;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

/* color */
.blue {
  color: #5966e2;
}

.dark {
  color: #344563;
}

.light {
  color: #69768c;
}

.gray {
  color: #6c6a6a;
}

/* end of color */
.menu {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.linkstyle a {
  text-decoration: none;
}

.onhover:hover {
  text-shadow: 0 0 0.15em #6070ff;
  opacity: 0.5;
}

.pressed:active {
  color: #6070ff;
}

.about-list a {
  padding: 0;
}

/* logo animation */
.logo a {
  display: inline-block;
  transition: all 1s;
}

.logo a:hover {
  opacity: 0.5;
  font-size: 1.5em;
  transform: rotate(360deg);
}

.roundbottom {
  border-bottom-left-radius: 80px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  background-color: #fff;
}

/* flex container */
.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.toolbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
}

.liststyle {
  list-style: none;
}

/* flex item */
.toolbar li {
  flex: 1;
  margin: 0 10px;
}

.wide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 72px 20%;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: #fff;
  background-image: url('Img/Headerbg@2x.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  padding-bottom: 72px;
}

.about-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  padding: 0;
  margin: 0 0 24px 0;
}

.about-list li {
  margin: 0 15px 0 0;
  padding: 0;
}

/* Projects section */
h2 {
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  padding: 0;
  margin: 0;
}

.round {
  border-radius: 20px;
}

.snapshot {
  max-width: 45%;
  height: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 142px;
  margin: 10% 5% 0 5%;
}

 .card {
   display: flex;
   justify-content: center;
   align-self: stretch;
   align-items: flex-start;
   background-color: #fff;
   padding: 10px;
 }

.cardContent {
  display: flex;
  margin-left: 2%;
  flex-direction: column;
  justify-content: flex-start;
}

.reverse {
  flex-direction: row-reverse;
}

.card button {
  align-self: flex-start;
  margin: 0;
}

.spec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.specItem {
  padding-right: 20px;
}

.contact-li {
  display: flex;
  flex-direction: column;
}

.lng {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 2% 0;
}

.justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tech {
  align-self: center;
  margin: 1%;
  padding: 0 10px 0 10px;
  border-radius: 6px;
  background-color: #ebebff;
  transition-property: all;
  transition-duration: 2s;
}

.lng li:hover {
  font-size: 1.2em;
  background-color: #7a869a;
  color: #ebebff;
}

.lng-list div {
  background-color: #f7f7f9;
  justify-content: center;
  align-self: stretch;
  border-radius: 10px;
  margin: 0;
}

.btn {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border: solid #396df2 2px;
  border-radius: 12px;
  padding: 12px 12px;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  color: #fff;
  border: solid #396df2 2px;
  background-color: #6070ff;
}

.btn:active {
  color: #fff;
  border: solid #396df2 2px;
  background-color: #2230d2;
}

.btn:disabled {
  color: #5e6c84;
  border: solid #5e6c84 2px;
  background-color: #fff;
}

/* About section */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: #fff;
  border-top-right-radius: 80px;
  margin-top: 142px;
}

.about .gridContainer {
  padding: 0 9.86%;
}

/* Contact form styling */
.form-wrapper {
  width: inherit;
  background-color: #fff;
}

.form-header {
  max-width: 570px;
  text-align: center;
}

.form-header h2 {
  margin-top: 110px;
  color: #fff;
  font-size: 40px;
}

.form-header p {
  color: #fff;
  margin: 12px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.contact {
  width: 30%;
}

.contact ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.contact ul li input {
  padding: 10px;
  color: #172b4d;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

textarea {
  padding: 10px;
  color: #172b4d;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

.contact-btn {
  padding: 12px;
  margin: 0;
  font-weight: 500;
  font-size: 17px;
  border-radius: 12px;
  margin-bottom: 45px;
  align-self: center;
}

.contact-btn:disabled {
  border: solid #5e6c84 2px;
}

.contact-btn:hover {
  color: #fff;
  border: solid #396df2 2px;
}

.hdr-bgr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-image: url('Img/Headerbg@2x.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 40px 0 100px 0;
}

.bgr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: #5966e2;
  border-top-left-radius: 80px;
  gap: 15px;
}

.bgr-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('Img/contactformbackgroundshapes.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.about-grid {
  display: grid;
  align-self: center;
  background-color: #fff;
  grid-template-columns: auto;
  width: 80%;
  padding: 40px 0 72px 0;
  margin-top: 20px;
}

.about-item1 {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
}

.info {
  flex: 1;
  padding: 0 5% 0 0;
  margin: 0;
}

.skills {
  flex: 1;
  padding: 0;
  margin: 0;
}

.skills-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.lng-list {
  display: inline-flex;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.lng-list img {
  padding: 10px;
}

.line {
  display: flex;
  align-self: stretch;
  background-color: #dfe1e6;
  height: 1px;
}

.skills p {
  padding: 10px 0;
}

.enable {
  transform: rotate(-90deg);
}

.lng-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  width: 122px;
  height: 120px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.lng-item p {
  margin: 0;
  padding: 10px 0 0 10px;
}

.lng-item img {
  margin: 0;
  padding: 0 0 0 10px;
}

.extended {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* Welcome section */
  .hdr-bgr {
    background-image: none;
  }

  .headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: #fff;
    background-image: url('Img/header-shapes mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .wide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 72px 5%;
  }

  .headline ul {
    padding-right: 10px;
  }

  .toolbar {
    display: none;
  }

  .extended {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(89, 102, 226, 0.8);
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    backdrop-filter: blur(5px);
    overflow: clip;
  }

  .extended img {
    float: right;
    margin: 20px;
    cursor: pointer;
  }

  .extended ul {
    margin-top: 100px;
    list-style: none;
  }

  .menu-item {
    text-decoration: none;
    color: #fff;
  }

  .mobmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 20px 5% 0 5%;
  }

  body {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
  }

  /* Project section */
  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: 100%;
  }

  .gridContainer {
    display: grid;
    min-width: 327px;
    grid-auto-rows: 1fr;
    margin-top: 142px;
    grid-row-gap: 100px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-self: flex-start;
    width: 100%;
    padding: 20px 0 40px 0;
  }

  .card img {
    max-width: 544px;
    width: 100%;
    height: auto;
  }

  /* About myself section */
  .about {
    margin-top: 142px;
  }

  .about-grid {
    display: grid;
    align-self: center;
    background-color: #fff;
    grid-template-columns: auto;
    width: 80%;
    padding: 40px 0 72px 0;
    margin-top: 20px;
  }

  .about-item1 {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info {
    padding: 0;
    margin: 0;
  }

  .skills-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    padding: 0;
    margin: 0;
  }

  .lng-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
  }

  .lng-list div {
    background-color: #f7f7f9;
    border-radius: 10px;
    margin: 0;
    height: 100%;
    width: 100%;
  }

  .lng-list img {
    padding: 10px;
  }

  .hide {
    display: none;
  }

  .line {
    background-color: #dfe1e6;
    height: 1px;
  }

  .skills p {
    padding: 10px 0;
  }

  .enable {
    transform: rotate(-90deg);
  }

  /* Contact form styling */
  .contact {
    width: 80%;
  }

  .contact-btn {
    align-self: flex-start;
  }

  .bgr-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('Img/contactformshapes-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }

  .popup {
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    left: 0;
    top: 0;
  }

  .popupContent {
    display: flex;
    align-self: center;
    z-index: 3;
    min-height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    padding: 10px 10px 30px 10px;
    margin: 5vw;
    border-radius: 10px;
  }

  .fontSmall {
    font-weight: 600;
    font-size: 0.9em;
    line-height: 1.1em;
  }

  .fontMid {
    font-weight: 500;
    font-size: 1em;
    line-height: 1.4em;
  }

  .description {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .buttonBar {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    border-top: solid lightgray 2px;
    margin: 0;
    gap: 20px;
  }

  .buttonBar button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popupImg {
    padding-left: 5px;
    align-self: center;
    margin: 0;
  }

  .snapshot {
    max-width: 100%;
    height: auto;
  }
}
